{% extends 'Profile/base_guest.html' %}

{% block content %}
    <div class="container">
        <div style="margin-top: 30px">
            <form class="form-horizontal" autocomplete="off" action="" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="control-label col-md-1" for="username">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username can only contain letters, numbers or underscores." value={{ username }}>
                    </div>
                    {% if invalid_user %}
                    <p class="text-danger form-control-static col-md-3">
                        <span class="glyphicon glyphicon-remove"></span> {{ invalid_user }}
                    </p>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-1" for="email">Email:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="email" name="email" id="email" placeholder="Enter yout email" value={{ email }}>
                    </div>
                    {% if invalid_email %}
                    <p class="text-danger form-control-static col-md-3">
                        <span class="glyphicon glyphicon-remove"></span> {{ invalid_email }}
                    </p>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-1" for="password">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password (8 characters at least)">
                    </div>
                    {% if shortpassword %}
                    <p class="text-danger form-control-static col-md-3">
                        <span class="glyphicon glyphicon-remove"></span> Short password.
                    </p>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-1" for="confirm">Confirm:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="confirmpass" id="confirm" placeholder="Confirm password">
                    </div>
                    {% if missmatch %}
                    <p class="text-danger form-control-static col-md-3">
                        <span class="glyphicon glyphicon-remove"></span> Password missmatch.
                    </p>
                    {% endif %}
                </div>

                <div class="container">
                    <div class="form-group col-md-10">
                        <button class="btn btn-success center-block" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}